.header{
    background-color: #003580;
    color: #fff;
    display: flex;
    justify-content: center; 
    position: relative;  
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0 0px 0px;
    
}
.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerListItem.active{
   border: 1px solid #fff;
   padding: 10px;
   border-radius: 20px;
}
.headerDesc{
    margin: 20px 0;
}
.headerBtn{
    background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.headerSearch{
    height: 50px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
} 
#headerIcon{
  color:lightgrey;

}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerSearchInput{
    border: none;
    outline: none;
}
.headerSearchText{
  color: lightgrey;
  cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
    z-index: 2;
}
.options{
    position: absolute;
    top: 50px;
    background-color: #fff;
    color: gray;
    border-radius: 5px;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #000;
}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: #fff;
}
.optionCounterButton:disabled{
    cursor: not-allowed;
}


@media screen and (max-width :768px) {
    .header{
        flex-direction: column;
        padding-bottom: 50px;  
    }
    .headerContainer{
        width: 100%;
        max-width: max-content;
        margin: 0;
    }

    .headerList{
        display: flex;
        gap: 30px;
        margin-bottom: 50px;
        flex-wrap: wrap;

    }
    .headerListItem{
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;
        flex-basis: 30%;
        justify-content: center;
        flex-wrap: wrap;
        max-width: max-content;
    }
    .headerListItem.active{
       border: 1px solid #fff;
       padding: 10px;
       border-radius: 20px;
    }

    .headerBtn{

      margin-left: 20px;
    }
    .headerSearch{
        height: 120px;
        padding:0px;
        border-radius: 5px;
        position: static;
        bottom: 0;
        flex-wrap: wrap;
        margin-bottom: -50px;
        margin-top: 50px;
        z-index: 500;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    } 

    .headerSearchItem{
        display: flex;
        align-items: center;
        margin-bottom: 12px;



    }
    .headerSearchInput{
        border: none;
        outline: none;
    }
    .headerSearchText{
      color: lightgrey;
      cursor: pointer;
    }
    .date{
        position: absolute;
        top: 50px;
        z-index: 2;
        right: 0;
    }
    .options{
        position: absolute;
        top: 50px;
        background-color: #fff;
        color: gray;
        border-radius: 5px;
        z-index: 2;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    }
    .optionItem{
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    .optionCounter{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        color: #000;
    }
    .optionCounterButton{
        width: 30px;
        height: 30px;
        border: 1px solid #0071c2;
        color: #0071c2;
        cursor: pointer;
        background-color: #fff;
    }
    .optionCounterButton:disabled{
        cursor: not-allowed;
    }
}